pkgbase = python-jaxlib-rocm-bin
	pkgdesc = Pre-built JAX
	pkgver = 0.4.25
	pkgrel = 1
	url = https://github.com/ROCm/jax
	arch = x86_64
	groups = jax
	license = Apache
	makedepends = python-installer
	depends = python-absl
	depends = python-flatbuffers
	depends = python-ml-dtypes
	depends = python-numpy
	depends = python-scipy
	provides = python-jaxlib=0.4.25
	conflicts = python-jaxlib
	source = https://github.com/ROCm/jax/releases/download/jaxlib-v0.4.25/jaxlib-0.4.25+rocm600-cp311-cp311-manylinux2014_x86_64.whl
	b2sums = aa85a49043c0a92351a6dc2446993765e0cf57a944b5ee1b795b30d92efbda33cdf81d2203f67355fc7d986572471a6791eb93a4513bd0bb73e1aaa065c62d00

pkgname = python-jaxlib-rocm-bin
